.contentBody {
    display: grid;
    height: 80vh;
}

.sticky-nav {
    position: sticky;
    top: 0;
}

.landingPage{
    display: grid;
    padding-top: 5%;
    place-items: center;
}

.About{
    padding-top: 5%;
    padding-left: 1%;
}

.Find{
    padding-top: 5%;
    padding-left: 1%;
}

.Become{
    padding-top: 5%;
    padding-left: 1%;
}

.google-map {
    width: 99%;
    height: 60vh;
}

.marker{
    height: 50px;
    width: 50px;
}

.marker-parent{
    position: relative;
}

.fade-item {
    animation: fadeIn ease 5s;
    opacity: 0;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}