.contentBody {
    display: grid;
    height: 80vh;
}

.sticky-nav {
    position: sticky;
    top: 0;
}

.form-group {
    padding-bottom: 1%;
}

.landingPage{
    display: grid;
    padding-top: 5%;
    place-items: center;
}

.About{
    animation: fadeIn ease 2s;
    opacity: 0;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    padding-top: 5%;
    padding-left: 1%;
    padding-right: 1%;
}

.Find{
    animation: fadeIn ease 2s;
    opacity: 0;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    padding-top: 5%;
    padding-left: 1%;
    padding-right: 1%;
}


.Become{
    animation: fadeIn ease 2s;
    opacity: 0;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    padding-top: 5%;
    padding-left: 1%;
    padding-right: 1%;
}

.google-map {
    width: 98%;
    height: 80vh;
    padding-bottom: 2%;
}

.marker{
    height: 50px;
    width: 50px;
}

.form{
    background-color: gainsboro;
    border-radius: 25px;
}

.form-body{
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 1%;
    padding-right: 1%;
}

.fade-item {
    animation: fadeIn ease 5s;
    opacity: 0;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

p {
    font-size: 26px;
}

.carouselCaption {
    opacity: 0;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    background-color: dimgrey;
}

.carouselItem:hover .carouselCaption{
    opacity: 1;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}